<!DOCTYPE html>
<html lang="{$lang}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}</title>
    <link href="./resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="./resource/css/font-awesome.min.css" rel="stylesheet">
    <link href="./resource/css/common.css?v=20161011" rel="stylesheet">
    <!--add_start-->
    <link href="./resource/css/add.css?v=20170317" rel="stylesheet">
    <!--add_end-->
    <script type="text/javascript">
        if(navigator.appName == 'Microsoft Internet Explorer'){
            if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
    </script>
    <script>var require = { urlArgs: 'v=20180907' };</script>
    <script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./resource/js/app/util.js?v=20180907"></script>
    <script type="text/javascript" src="./resource/js/app/common.min.js?v=20180907"></script>
    <script type="text/javascript" src="./resource/js/require.js?v=20180907"></script>
    <script type="text/javascript" src="./resource/js/app/config.js?v=20180907"></script>
    <script type="text/javascript" src="./resource/js/add.js?v=20180907"></script>
    <script type="text/javascript" src="./resource/My97Date/WdatePicker.js"></script>
    <script type="text/javascript" src="./resource/js/swine.js"></script>
    <script type="text/javascript" src="./resource/js/commercial.js"></script>
    <script type="text/javascript" src="./resource/js/pagecheck.js"></script>
</head>
<body>
